In [1]:
import pandas as pd
import numpy as np

In [8]:
data = pd.read_csv('data/nifty50_ticks.csv')

In [9]:
data.shape

(318982, 10)

In [11]:
data.head()

,id,symbol,timestamp,open,high,low,close,volume,open_interest,exchange
0,401738,Nifty 50,2025-09-10 15:29:00.000 +0530,24978.95,24980.45,24972.35,24977.55,0.0,0.0,NSE
1,401739,Nifty 50,2025-09-10 15:28:00.000 +0530,24979.70,24982.05,24973.40,24978.45,0.0,0.0,NSE
2,401740,Nifty 50,2025-09-10 15:27:00.000 +0530,24976.40,24980.10,24975.35,24980.10,0.0,0.0,NSE
3,401741,Nifty 50,2025-09-10 15:26:00.000 +0530,24975.25,24977.90,24974.65,24976.45,0.0,0.0,NSE
4,401742,Nifty 50,2025-09-10 15:25:00.000 +0530,24981.00,24981.70,24973.70,24975.15,0.0,0.0,NSE

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318982 entries, 0 to 318981
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             318982 non-null  int64
 1   symbol         318982 non-null  object
 2   timestamp      318982 non-null  object
 3   open           318982 non-null  float64
 4   high           318982 non-null  float64
 5   low            318982 non-null  float64
 6   close          318982 non-null  float64
 7   volume         318982 non-null  float64
 8   open_interest  318982 non-null  float64
 9   exchange       318982 non-null  object
dtypes: float64(6), int64(1), object(3)
memory usage: 24.3+ MB

In [13]:
data.describe()

,id,open,high,low,close,volume,open_interest
count,318982.000000,318982.000000,318982.000000,318982.000000,318982.000000,318982.0,318982.0
mean,234931.357961,20616.752565,20620.710029,20612.736067,20616.754894,0.0,0.0
std,97836.825343,3114.109027,3114.541424,3113.632879,3114.110341,0.0,0.0
min,69337.000000,15194.350000,15203.500000,15185.550000,15192.900000,0.0,0.0
25%,151340.250000,17760.050000,17763.262500,17756.700000,17759.950000,0.0,0.0
50%,233335.500000,19743.600000,19746.700000,19740.450000,19743.325000,0.0,0.0
75%,315705.750000,23933.100000,23939.287500,23925.000000,23933.100000,0.0,0.0
max,411138.000000,26273.400000,26277.350000,26270.600000,26273.450000,0.0,0.0

In [14]:
data.columns

Index(['id', 'symbol', 'timestamp', 'open', 'high', 'low', 'close', 'volume',
       'open_interest', 'exchange'],
      dtype='object')

In [18]:
print(data['symbol'].unique())
print(data['exchange'].unique())
print(data['volume'].unique())
print(data['open_interest'].unique())

['Nifty 50']
['NSE']
[0.]
[0.]

In [15]:
data.head()

,id,symbol,timestamp,open,high,low,close,volume,open_interest,exchange
0,401738,Nifty 50,2025-09-10 15:29:00.000 +0530,24978.95,24980.45,24972.35,24977.55,0.0,0.0,NSE
1,401739,Nifty 50,2025-09-10 15:28:00.000 +0530,24979.70,24982.05,24973.40,24978.45,0.0,0.0,NSE
2,401740,Nifty 50,2025-09-10 15:27:00.000 +0530,24976.40,24980.10,24975.35,24980.10,0.0,0.0,NSE
3,401741,Nifty 50,2025-09-10 15:26:00.000 +0530,24975.25,24977.90,24974.65,24976.45,0.0,0.0,NSE
4,401742,Nifty 50,2025-09-10 15:25:00.000 +0530,24981.00,24981.70,24973.70,24975.15,0.0,0.0,NSE

In [48]:
required_data = data.drop(columns=['id', 'symbol','volume','open_interest', 'exchange'])

In [49]:
required_data.head()

                       timestamp      open      high       low     close
0  2025-09-10 15:29:00.000 +0530  24978.95  24980.45  24972.35  24977.55
1  2025-09-10 15:28:00.000 +0530  24979.70  24982.05  24973.40  24978.45
2  2025-09-10 15:27:00.000 +0530  24976.40  24980.10  24975.35  24980.10
3  2025-09-10 15:26:00.000 +0530  24975.25  24977.90  24974.65  24976.45
4  2025-09-10 15:25:00.000 +0530  24981.00  24981.70  24973.70  24975.15

In [50]:
required_data['timestamp'] = pd.to_datetime(required_data['timestamp'])

required_data['year'] = required_data['timestamp'].dt.year
required_data['month'] = required_data['timestamp'].dt.month
required_data['day'] = required_data['timestamp'].dt.day
required_data['hour'] = required_data['timestamp'].dt.hour
required_data['minute'] = required_data['timestamp'].dt.minute

required_data.head()

,timestamp,open,high,low,close,year,month,day,hour,minute
0,2025-09-10 15:29:00+05:30,24978.95,24980.45,24972.35,24977.55,2025,9,10,15,29
1,2025-09-10 15:28:00+05:30,24979.70,24982.05,24973.40,24978.45,2025,9,10,15,28
2,2025-09-10 15:27:00+05:30,24976.40,24980.10,24975.35,24980.10,2025,9,10,15,27
3,2025-09-10 15:26:00+05:30,24975.25,24977.90,24974.65,24976.45,2025,9,10,15,26
4,2025-09-10 15:25:00+05:30,24981.00,24981.70,24973.70,24975.15,2025,9,10,15,25

In [53]:
for i in ['year', 'month', 'day', 'hour', 'minute']:
    print(required_data[i].value_counts())

year
2024    92519
2023    91935
2022    85396
2025    49132
Name: count, dtype: int64
month
7     32670
5     32038
6     31185
8     30750
3     29739
4     28171
9     26625
12    23624
2     22875
10    22560
11    22245
1     16500
Name: count, dtype: int64
day
21    11261
28    11258
4     11256
12    10942
13    10888
6     10885
8     10884
5     10883
22    10883
11    10882
16    10881
9     10880
23    10879
18    10612
2     10610
20    10510
19    10507
10    10505
7     10503
3     10503
1     10193
25    10133
27    10133
24     9817
29     9758
26     9755
30     9383
14     9381
17     9381
15     9006
31     5630
Name: count, dtype: int64
hour
12    51000
11    50999
14    50940
13    50940
10    50935
9     38378
15    25610
18      150
19       30
Name: count, dtype: int64
minute
29    5950
20    5950
15    5950
16    5950
17    5950
18    5950
19    5950
21    5950
25    5950
26    5950
27    5950
28    5950
22    5949
23    5949
24    5949
31    5185
7     5183
30    5147
59    5106
39    5106
41    5101
49    5101
48    5101
47    5101
46    5101
45    5101
44    5101
43    5101
40    5101
52    5101
38    5101
37    5101
35    5101
34    5101
33    5101
32    5101
51    5101
50    5101
53    5101
54    5101
55    5101
56    5101
58    5101
57    5100
36    5100
5     5099
14    5099
9     5099
8     5099
12    5099
6     5099
2     5099
4     5099
3     5099
10    5099
1     5099
42    5099
0     5099
13    5099
11    5099
Name: count, dtype: int64